# Server configuration
HOST=0.0.0.0
PORT=8000

# Media storage
MEDIA_PATH=/tmp/karaoke_media
CACHE_PATH=/tmp/karaoke_cache

# Demucs service
DEMUCS_API_URL=http://10.10.120.191:8001
DEMUCS_MODEL=htdemucs
DEMUCS_DEVICE=cuda
DEMUCS_OUTPUT_FORMAT=wav
DEMUCS_MP3_BITRATE=320

# Database
DATABASE_URL=sqlite:///./karaoke.db

# External tools (usually in PATH, can override)
YTDLP_PATH=yt-dlp
FFMPEG_PATH=ffmpeg
FFMPEG_PRESET=veryfast
FFMPEG_CRF=23

# Logging
LOG_LEVEL=INFO
LOG_DIR=./logs
LOG_FILE_NAME=karaoke.log
LOG_MAX_BYTES=5242880
LOG_BACKUP_COUNT=5
LOG_TO_FILE_IN_RELOAD=false

# Demucs on another PC
MAC_ADDRESS=9C:6B:00:2F:BE:AD
IP_ADDRESS=10.10.120.191
WORKSPACE_FOLDER=~/Documents/Projects/karaoke
HOSTNAME=desktop-iijbpb0
