# Server configuration
HOST=0.0.0.0
PORT=8000

# Media storage
MEDIA_PATH=/tmp/karaoke_media
CACHE_PATH=/tmp/karaoke_cache

# Demucs service
DEMUCS_API_URL=http://10.10.120.191:8001

# Database
DATABASE_URL=sqlite:///./karaoke.db

# External tools (usually in PATH, can override)
YTDLP_PATH=yt-dlp
FFMPEG_PATH=ffmpeg
FFMPEG_PRESET=veryfast
FFMPEG_CRF=23

# Demucs on another PC
MAC_ADDRESS=9C:6B:00:2F:BE:AD
IP_ADDRESS=10.10.120.191
WORKSPACE_FOLDER=~/Documents/Projects/karaoke
HOSTNAME=desktop-iijbpb0
